package ${packageName};

@SuppressWarnings("unused")
public class R {

    public static final int DATABASE_VERSION = 1;

    public static final class Fxml {
        #macro(printFxml $rootEntry)
            #if($rootEntry.hasChilds())
                #foreach($child in $rootEntry.getChilds())
                    #if($child.hasChilds())
                        #printFxml($child)
                    #else
        public static final String $child.getNameWithoutExtention().toUpperCase() = "$child.getNameWithoutExtention()";
                    #end
                #end
            #end
        #end
        #evaluate("#printFxml($fxmls)")
}

    public static final class Translate {
        #foreach($translation in $translations)
        public static final String $translation.getName().toUpperCase() = "$translation.getValue()";
        #end

    }

    public static class Config {

        public static final String OFFLINE_DATABASE_NAME = "offline_database_name";
        public static final String USE_ONLINE_DATABASE = "use_online_database";
        public static final String ONLINE_DATABASE_CREDENTIALS_PATH = "online_database_credentials_path";
        public static final String HERO_LEVELUP_POINTS_PER_LEVEL = "hero_levelup_points_per_level";
        public static final String DATABASE_VERSION = "database_version";
    }

    #macro(printImages $rootEntry)
    public static class $StringUtils.capitalizeFirstLetter($rootEntry.getNameWithoutExtention()) {
        #if($rootEntry.hasChilds())
            #foreach($child in $rootEntry.getChilds())
                #if($child.hasChilds())
                    #printImages($child)
                #else
        public static final String $child.getNameWithoutExtention().toUpperCase() = "/$child.getRecursivePath()";
                #end
            #end
        #end

        }
    #end

    #evaluate("#printImages($images)")

    public static class Database {
    #foreach($table in $tables)
        public static class $StringUtils.capitalizeFirstLetter($table.getTableName()).replace("_", "") {
            public static final String TABLE_NAME = "$table.getTableName().toLowerCase()";
            public static final String FIREBASE_CHILD  = "$table.getFirebaseName().toLowerCase()";
            #foreach($column in $table.getColumns())
            public static final String $column.getKey() = "$column.getValue()";
            #end
        }
    #end
    }
}