.toolbar-button {
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat;
  -fx-background-size: 65%;
  -fx-background-position: center;
  -fx-background-radius: 5px;
  -fx-pref-height: 48px;
  -fx-pref-width: 48px;
  -fx-max-height: 48px;
  -fx-max-width: 48px;
}

.sidebar-button {
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat;
  -fx-background-size: 65%;
  -fx-background-position: center;
  -fx-background-radius: 5px;
  -fx-min-width: 32px;
  -fx-min-height: 32px;
  -fx-max-width: 32px;
  -fx-max-height: 32px;
}

.toolbar-button:hover, .sidebar-button:hover {
  -fx-background-color: rgba(0, 0, 0, 0.1);
}

.icon-next {
  -fx-background-image: url("../images/icon/next.png");
}

.icon-previous {
  -fx-background-image: url("../images/icon/previous.png");
}

.icon-confirm {
  -fx-background-image: url("../images/icon/confirm.png");
}

.icon-cancel {
  -fx-background-image: url("../images/icon/reject.png");
}

.icon-new {
  -fx-background-image: url("../images/icon/new.png");
}

.icon-open {
  -fx-background-image: url("../images/icon/open.png");
}

.icon-save {
  -fx-background-image: url("../images/icon/save.png");
}

.icon-dice {
  -fx-background-image: url("../images/icon/dice.png");
}

.icon-bestiary {
  -fx-background-image: url("../images/icon/bestiary.png");
}

.icon-shop {
  -fx-background-image: url("../images/icon/shop.png");
}

.icon-chat {
  -fx-background-image: url("../images/icon/chat.png");
}

.icon-chat-room {
  -fx-background-image: url("../images/icon/chat_room.png");
}

.icon-close-hero {
  -fx-background-image: url("../images/icon/close_hero.png");
}

.icon-add {
  -fx-background-image: url("../images/icon/add.png");
}

.icon-subtract {
  -fx-background-image: url("../images/icon/subtract.png");
}

.icon-edit {
  -fx-background-image: url("../images/icon/edit.png");
}

.icon-import {
  -fx-background-image: url("../images/icon/import.png");
}

.icon-export {
  -fx-background-image: url("../images/icon/export.png");
}

.icon-download {
  -fx-background-image: url("../images/icon/download.png");
}

.icon-upload {
  -fx-background-image: url("../images/icon/upload.png");
}

.icon-remove-online {
  -fx-background-image: url("../images/icon/remove_online.png");
}

.icon-login {
  -fx-background-image: url("../images/icon/login.png");
}

.icon-server {
  -fx-background-image: url("../images/icon/server.png");
}

.icon-online {
  -fx-background-image: url("../images/icon/online.png");
}

.icon-synchronize {
  -fx-background-image: url("../images/icon/synchronize.png");
}

.icon-collection {
  -fx-background-image: url("../images/icon/collections.png");
}

.icon-book {
  -fx-background-color: url("../images/icon/book.png");
}

.table-column {
  -fx-alignment: CENTER-LEFT;
}

.item-slot {
  -fx-background-color: rgba(128, 0, 0, 0.5);
}

.item-slot.accepting {
  -fx-background-color: green;
}

.item-slot.decline {
  -fx-background-color: red;
}

.titled-pane > .title {
  -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
  -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em;
  -fx-font-family: "Roboto";
  -fx-font-size: 15.0;
}

.toggle-button:selected {
  -fx-background-color: -fx-shadow-highlight-color,
  linear-gradient(to bottom, derive(-fx-outer-border, -20%), -fx-outer-border),
  linear-gradient(to bottom,
      derive(-fx-color, -22%) 0%,
      derive(-fx-color, -13%) 20%,
      derive(-fx-color, -11%) 50%);
  -fx-background-insets: 0 0 -1 0, 0, 1;
}

.toggle-button:selected:focused {
  -fx-background-color: -fx-focus-color,
  linear-gradient(to bottom,
      derive(-fx-color, -22%) 0%,
      derive(-fx-color, -13%) 20%,
      derive(-fx-color, -11%) 50%),
  -fx-faint-focus-color,
  linear-gradient(to bottom,
      derive(-fx-color, -22%) 0%,
      derive(-fx-color, -13%) 20%,
      derive(-fx-color, -11%) 50%);
  -fx-background-insets: -0.2, 1, -1.4, 2.6;
  -fx-background-radius: 3, 2, 4, 0;
}

.jfx-toggle-button,
.jfx-toggle-button:armed,
.jfx-toggle-button:hover,
.jfx-toggle-button:focused,
.jfx-toggle-button:selected,
.jfx-toggle-button:focused:selected {
  -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
  -fx-background-radius: 3px;
  -fx-background-insets: 0px;
}

.underline {
  -fx-underline: true;
}

.underline:hover {
  -fx-underline: true;
}